* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background: #BDB4BF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body section {
    position: relative;
    width: 320px;
    height: 450px;
    background: #f5f5f5;
    border-radius: .5rem;
    box-shadow: 0 5px 17px 4px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section .product-image {
    width: inherit;
    height: inherit;
    display: grid;
    place-items: center;
}
section .product-image img {
    width: inherit;
    transform: translateY(-10px);
}
/* Product Info */
section .product-info {
    width: inherit;
    height: auto;
    position: absolute;
    bottom: 0px;
    padding: 10px 25px;
    background: whitesmoke;
    transform: translateY(157px);
    transition: all .5s ease;
}
section:hover .product-info {
    transform: translateX(0);    
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, .5);
}
section .product-info p {
    font-size: 19px;
    font-weight: 600;
}
/* Main Info */
.product-info .main-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-info .main-info h1 {
    font-size: 25px;
}
.product-info .main-info p {
    opacity: .5;
    font-weight: 600;
    font-size: 15px;
}
.product-price {
    color: #817184;
}
.product-info .product-price p {
    opacity: 1;
    font-size: 18px;
}
.product-info .product-price span {
    font-size: 23px;
}
/* Product Size */
.product-size {
    margin-top: 10px;
}
.product-size .product-sizes {
    display: flex;
}
.product-size .product-sizes p {
    font-size: 15px;
    opacity: .5;
    margin: 3px 13px 3px 0;
    cursor: pointer;
}
/* Product Color */
.product-color .product-colors {
    display: flex;
}
.product-color .product-colors div {
    width: 20px;
    height: 20px;
    background: var(--color);
    cursor: pointer;
    margin: 3px 13px 3px 0;
    border: 1px solid rgba(0, 0, 0, .1);
}
/* Button */
.product-info button.product-button {
    margin-top: 10px;
    margin-bottom: 7px;
    height: 40px;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background: #4b424d;
    color: #f5f5f5;
    border: none;
    box-shadow: 0 3px 6px .6px rgba(0, 0, 0, .3);
}